/* add home page styles here */

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form {
    border: 0;

}

input {
    margin: 10px;
}

button {
    margin: 10px;
}

h1 {
    font-family: 'IBM Plex Serif', Georgia, serif;
}