
body {
    background-color: #f07c4e;
    font-family: Mukta, Helvetica, sans-serif;
}

img {
    width: 350px;
}

main {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.todo-list {
    border: rgb(80, 80, 80) 1px solid;
    width: 40%;
    background-color: #ffa683;
    border-radius: 20px;
    border: 2px solid rgb(247, 189, 119);
    border-top-color: #c25f03;
    border-left-color: #c25f03;
}

form {
    border-bottom: rgb(255, 213, 188) 1px solid;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    
}

input {
    margin: 10px;
    width: 80%;
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 10px;
    background-color: #f09876;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(192, 82, 39);
    font-family: Mukta;
}

input:focus, button:focus {
    outline: none;
}

button {
    margin: 10px;
    width: 30%;
    background-color: #f09876;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(192, 82, 39);
    font-family: Mukta;
    color:rgb(192, 82, 39);
    font-size: 1.5rem;
}

button:hover {
    color:rgb(255, 206, 187);

}



/*input {
    width: 80%;
    height: 3rem;
    background-color: rgb(221, 221, 221);
    border:rgb(80, 80, 80) solid 1px;
    border-radius: 5px;
    font-size: 1.5rem;
    
}

button {
    height: 3rem;
    width: 15%;
    margin-left: 10px;
    background-color: rgb(221, 221, 221);
    border:rgb(80, 80, 80) solid 1px;
    border-radius: 5px;
    font-size: 1.5rem;

}*/

.todo-list-ul {
    list-style-image: circle;
}

.colors {
    font-family: 'IBM Plex Serif', Georgia, serif;
    background-color: rgb(169, 185, 199);
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 32px;
    color:rgb(184, 215, 240);
    
}

a {
    text-decoration: none;
}

.colors:hover {
    background-color: rgb(184, 215, 240);
    color:rgb(169, 185, 199);
}
